.main-nav__wrapper {
  background-color: $accent-color;
}

.main-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list a {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
  
  .main-nav__wrapper {
    width: 768px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .main-nav__list a {
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1160px;
    margin: 0 auto;
  }
}