.page-header {
  /* display: flex; */
}

.page-header__logo{
  width: 101px;
  height: 84px;

}



@media (min-width: $desktop-width) {
  .page-header__logo {
  width: 186px;
  height: 97px;
}

  .page-header {
    border: 2px solid red;
  }
}