/* @font-face {
  font-family: 'PT Sans';
  src: url('../../fonts/ptsans.woff2') format('woff2'),
      url('../../fonts/ptsans.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../../fonts/ptsansbold.woff2') format('woff2'),
      url('../../fonts/ptsansbold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}*/

/* @font-face {
  font-family: 'Oswald';
  src: url('../../fonts/oswaldregular.woff2') format('woff2'),
    url('../../fonts/oswaldregular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
} */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

