$accent-color: #81B3D2;
$button-hover: #669EC0;
$button-active: #5496BD;
$special-dark: #333333;
$background-light: #EEEEEE;
$current-link: #766357;
$button-dissabled: #E5E5E5;           

//Viewports
$tablet-width: 768px; 
$desktop-width: 1024px;