@import 'normalize';
@import 'adaptive-learning';

@font-face {
  font-family: "Oswald";
  src: url(../fonts/oswaldregular.woff2);
  src: url(../fonts/oswaldregular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url(../fonts/oswaldmedium.woff2);
  src: url(../fonts/oswaldmedium.woff);
  font-weight: 500;
  font-style: normal;
}


/*Global*/
.page {
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  
  min-height: 100%;
  /*Прилипший футер*/
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

